body {
    background-image: url('../images/asdfsafsf.jpg');
    height: 110vh;
  }
   .box {
    margin-top: 50px;
    max-width: 600px;
    height: 670px;
    border: 1px solid #9C9C9C;
    background-image: none;
    opacity: 0.9;
  
  }
  
   #register-link {
    margin-top: -85px;
  }
  .form-group{
    color: black;
  }
  
