body {
    background-image: url('../images/Blog.jpg');
    height: 100vh;
  }
.jumbotron {
    background: none;  
    padding-top: 100px;
}
.btn{
    margin-right:16px;
}
.hd1{
    color: darkgray
}
