<body>
        
           <div class="jumbotron">
               <div class="container">
          <h1 class="hd1">Welcome!!! Sign in to get started</h1>
          <p class="lead hd1">Sign up if you are a new user </p>
          <hr class="my-4">
          <p class="lead">
            <a class="btn btn-dark btn-lg " routerLink="/login"  role="button">Login</a> 
            <a class="btn btn-success btn-lg" routerLink="/signup"  role="button">Sign Up</a>
          </p>
        </div>
        </div>
        
        
        
</body>